<div class="container-fluid mt-3">
    <div class="row">
        <h2>Search Author</h2>
        <form action="/authors" method="get">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="<%= searchOptions.name %>">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Author Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% authors.forEach((author, i)=> { %>
                        <tr>
                            <th scope="row">
                                <%= i+1 %>
                            </th>
                            <td>
                                <%= author.name %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>